<td class="text-right">
  <button
    type="button"
    class="btn btn-icon btn-primary btn-secondary"
    data-delete="collection-row-<%- rowIndex %>"
    data-toggle="tooltip"
    title="delete"
  >
    <i class="fe fe-trash-2"></i>
  </button>
</td>
