<div class="selectgroup w-100">
  <label class="selectgroup-item">
    <input type="radio" name="<%- inputName %>" value="Yes"
    class="selectgroup-input" <%- checkYes ? 'checked' : '' %> />
    <span class="selectgroup-button">Yes</span>
  </label>
  <label class="selectgroup-item">
    <input type="radio" name="<%- inputName %>" value="No"
    class="selectgroup-input" <%- checkYes ? '' : 'checked' %> />
    <span class="selectgroup-button">No</span>
  </label>
</div>
