<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="Content-Language" content="en" />
    <meta name="msapplication-TileColor" content="#2d89ef" />
    <meta name="theme-color" content="#4188c9" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <link rel="icon" href="./favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico" />
    <!-- Generated: 2018-04-16 09:29:05 +0200 -->
    <title>
      Register - tabler.github.io - a responsive, flat and full featured admin
      template
    </title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext"
    />
    <!-- Dashboard Core -->
    <link href="./assets/css/dashboard.min.css" rel="stylesheet" />
  </head>
  <body class="">
    <div class="page">
      <div class="page-single">
        <div class="container">
          <div class="row">
            <div class="col col-login mx-auto">
              <div class="text-center mb-6">
                <img src="./assets/brand/tabler.svg" class="h-6" alt="" />
              </div>
              <form id="register" class="card">
                <div class="card-body p-6">
                  <div class="card-title">Create new account</div>
                  <div class="form-group">
                    <label class="form-label">First Name</label>
                    <input
                      type="text"
                      class="form-control"
                      name="firstName"
                      placeholder="Firstname"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label class="form-label">Last Name</label>
                    <input
                      type="text"
                      class="form-control"
                      name="lastName"
                      placeholder="Lastname"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label class="form-label">Username</label>
                    <input
                      type="text"
                      name="userName"
                      class="form-control"
                      placeholder="Username"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label class="form-label">Email address</label>
                    <input
                      type="email"
                      name="email"
                      class="form-control"
                      placeholder="Enter email"
                      required
                      data-type="email"
                      data-trigger="change"
                    />
                  </div>
                  <div class="form-group">
                    <label class="form-label">Password</label>
                    <input
                      name="password"
                      type="password"
                      class="form-control"
                      placeholder="Password"
                      required
                    />
                  </div>
                  <div class="form-footer">
                    <button
                      type="submit"
                      class="btn btn-primary btn-block"
                      onclick="validateNewCollection()"
                    >
                      Create new account
                    </button>
                  </div>
                </div>
              </form>
              <div class="text-center text-muted">
                Already have account? <a href="./login">Sign in</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('partials/form_scripts') %>
    <script>
      var form = document.getElementById('register');
      function transformFormData(formData) {
        formData.password = MD5(formData.password);
        return formData;
      }
      window.validateNewCollection = function() {
        form.addEventListener('submit', e => e.preventDefault());
        submitForm(
          form,
          '/admin/register',
          data => transformFormData(data),
          '/admin/login'
        );
      };
    </script>
  </body>
</html>
